@use "../utils/colors";
@use "../utils/variables" as vars;

.card {
  animation: show-card 0.5s ease;
  background-color: #fff;
  box-shadow: 0 1rem 3.75rem rgba(colors.$color-text-primary, 0.122);
  border-radius: vars.$card-border-radius;
  max-width: 20.625rem;
  margin: 1rem;

  &__content {
    padding: 2.5rem 2rem 1.125rem 2rem;
    position: relative;
  }

  &__title {
    color: colors.$color-text-primary;
    font-size: 1.0313rem;
    margin-bottom: 1rem;
  }

  &__description {
    color: colors.$color-text-secondary;
    font-size: 0.8375rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__banner {
    border-top-left-radius: vars.$card-border-radius;
    border-top-right-radius: vars.$card-border-radius;
    width: 100%;
    display: block;
    height: 12.5rem;
    object-fit: cover;
    object-position: 50% -1.0625rem;
  }
}

@media screen and (min-width: 48rem) {
  .card {
    display: flex;
    max-width: 45.625rem;

    &__banner {
      border-bottom-left-radius: vars.$card-border-radius;
      border-top-right-radius: 0;
      object-position: 0;
      height: 100%;
      width: 17.8125rem;
    }

    &__content {
      padding: 2rem 2.5rem 2rem;
    }

    &__title {
      font-size: 1.2813rem;
      margin-bottom: 0.75rem;
    }
  }
}
