@import "../utils/colors";

.share {
  align-items: center;
  background-color: $color-text-primary;
  color: #fff;
  display: flex;
  padding: 1rem 2rem;
  width: 100%;

  &__text {
    color: $color-text-muted;
    font-size: 0.75rem;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__icon {
    display: block;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}
