@use "../utils/colors";
@use "../utils/variables" as vars;

.share {
  align-items: center;
  background-color: colors.$color-text-primary;
  bottom: 0;
  border-bottom-left-radius: vars.$card-border-radius;
  border-bottom-right-radius: vars.$card-border-radius;
  color: #fff;
  display: flex;
  left: 0;
  padding: 1.375rem 2rem;
  position: absolute;
  width: 100%;

  &__text {
    color: colors.$color-text-muted;
    font-size: 0.75rem;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__icon {
    display: block;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}

@media screen and (min-width: 48rem) {
  .share {
    bottom: 96px;
    border-radius: vars.$card-border-radius;
    left: initial;
    padding: 18px 36px;
    right: -27px;
    width: initial;

    &__text {
      display: none;
    }
  }
}

@media screen and (min-width: 62rem) {
  .share {
    right: -68px;

    &__text {
      display: initial;
    }
  }
}
