@use "../utils/colors";

.share {
  align-items: center;
  background-color: colors.$color-text-primary;
  bottom: 0;
  color: #fff;
  display: flex;
  left: 0;
  padding: 1.375rem 2rem;
  position: absolute;
  width: 100%;

  &__text {
    color: colors.$color-text-muted;
    font-size: 0.75rem;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__icon {
    display: block;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}
