@use "../utils/colors";
@use "../utils/variables" as vars;

.share {
  align-items: center;
  background-color: colors.$color-text-primary;
  bottom: 0;
  border-bottom-left-radius: vars.$card-border-radius;
  border-bottom-right-radius: vars.$card-border-radius;
  color: #fff;
  display: flex;
  left: 0;
  padding: 1.375rem 2rem;
  position: absolute;
  width: 100%;

  &__text {
    color: colors.$color-text-muted;
    font-size: 0.75rem;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__icon {
    display: block;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}

@media screen and (min-width: 48rem) {
  .share {
    animation: float 1.2s ease-in-out infinite alternate;
    bottom: 6rem;
    border-radius: vars.$card-border-radius;
    left: initial;
    padding: 1.125rem 2.25rem;
    right: -1.6875rem;
    width: initial;

    &__text {
      display: none;
    }

    &::after {
      border-width: 0.75rem;
      border-style: solid;
      border-top-color: colors.$color-text-primary;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: 62rem) {
  .share {
    right: -4.25rem;

    &__text {
      display: initial;
    }
  }
}
