@keyframes show-card {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes float {
  from {
    transform: translateY(var(--float-start-value, -10px));
  }

  to {
    transform: translateY(0);
  }
}
