@use "../utils/colors";

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  align-items: center;
  background-color: colors.$color-bg-primary;
  display: flex;
  font-family: "Manrope", sans-serif;
  flex-direction: column;
  justify-content: center;
}
