*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color-text-primary: hsl(217, 19%, 35%);
$color-text-secondary: hsl(214, 17%, 51%);
$color-text-muted: hsl(212, 23%, 69%);
$color-bg-primary: hsl(210, 46%, 95%);

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  align-items: center;
  background-color: $color-bg-primary;
  display: flex;
  font-family: "Manrope", sans-serif;
  justify-content: center;
}

.card {
  background-color: #fff;
  max-width: 20.625rem;

  &__banner {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
    object-position: 50% -17px;
  }
}
