@use "./base/reset";
@use "./base/base";

@use "./utils/colors";
@use "./utils/animations";

@use "./layout/footer";

@use "./components/card";
@use "./components/author";
@use "./components/share-btn";
@use "./components/share";

@use "./utils/helpers";
