@import "./base/reset";
@import "./utils/colors";

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  align-items: center;
  background-color: $color-bg-primary;
  display: flex;
  font-family: "Manrope", sans-serif;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 0.625rem;
  max-width: 20.625rem;
  overflow: hidden;

  &__content {
    padding: 2.5rem 2rem 1.125rem 2rem;
    position: relative;
  }

  &__title {
    color: $color-text-primary;
    font-size: 1.0313rem;
    margin-bottom: 1rem;
  }

  &__description {
    color: $color-text-secondary;
    font-size: 0.8375rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &__banner {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
    object-position: 50% -17px;
  }
}

.author {
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 2rem;

  &::before {
    content: "";
    background-image: url("../assets/images/avatar-michelle.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    height: 2.5rem;
    margin-right: 1rem;
    width: 2.5rem;
  }

  &__name {
    color: $color-text-primary;
    font-size: 0.8125rem;
  }

  &__date {
    color: $color-text-muted;
    font-size: 0.75rem;
  }
}

.share-btn {
  --btn-size: 2rem;
  border-radius: 50%;
  border: none;
  background-color: $color-bg-primary;
  cursor: pointer;
  margin-left: auto;

  &::before {
    background-image: url("../assets/images/icon-share.svg");
    background-repeat: no-repeat;
    background-position: left 50% top 0.5625rem;
    content: "";
    display: block;
    height: var(--btn-size);
    width: var(--btn-size);
  }
}

.share {
  align-items: center;
  background-color: $color-text-primary;
  color: #fff;
  display: flex;
  padding: 1rem 2rem;
  width: 100%;

  &__text {
    color: $color-text-muted;
    font-size: 0.75rem;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__icon {
    display: block;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}
