@import "./base/reset";
@import "./base/base";
@import "./utils/colors";

@import "./components/card";
@import "./components/author";

.share-btn {
  --btn-size: 2rem;
  border-radius: 50%;
  border: none;
  background-color: $color-bg-primary;
  cursor: pointer;
  margin-left: auto;

  &::before {
    background-image: url("../assets/images/icon-share.svg");
    background-repeat: no-repeat;
    background-position: left 50% top 0.5625rem;
    content: "";
    display: block;
    height: var(--btn-size);
    width: var(--btn-size);
  }
}

.share {
  align-items: center;
  background-color: $color-text-primary;
  color: #fff;
  display: flex;
  padding: 1rem 2rem;
  width: 100%;

  &__text {
    color: $color-text-muted;
    font-size: 0.75rem;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__icon {
    display: block;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}
