*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$color-text-primary: hsl(217, 19%, 35%);
$color-text-secondary: hsl(214, 17%, 51%);
$color-text-muted: hsl(212, 23%, 69%);
$color-bg-primary: hsl(210, 46%, 95%);

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  align-items: center;
  background-color: $color-bg-primary;
  display: flex;
  font-family: "Manrope", sans-serif;
  justify-content: center;
}

.card {
  background-color: #fff;
  max-width: 20.625rem;

  &__content {
    padding: 2.5rem 2rem 1.125rem 2rem;
  }

  &__title {
    color: $color-text-primary;
    font-size: 1.0313rem;
    margin-bottom: 1rem;
  }

  &__description {
    color: $color-text-secondary;
    font-size: 0.8375rem;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  &__banner {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
    object-position: 50% -17px;
  }
}

.author {
  align-items: center;
  display: flex;

  &::before {
    content: "";
    background-image: url("../assets/images/avatar-michelle.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    height: 2.5rem;
    margin-right: 1rem;
    width: 2.5rem;
  }

  &__name {
    color: $color-text-primary;
    font-size: 0.8125rem;
  }

  &__date {
    color: $color-text-muted;
    font-size: 0.75rem;
  }
}
